<span class="centred quote" [style.font-family]='font$ | async' >
  {{ (phraseString$ | async) }}
</span>

<span class="centred share" >
<button routerLink="/" routerLinkActive="active"><fa-icon [icon]="backIcon"></fa-icon></button>&nbsp;
<button class='clippy' [attr.data-clipboard-text]="clipboardResults$ | async"><fa-icon [icon]="clipboardIcon"></fa-icon></button>
<button (click)="toggleNoise()"><fa-icon [icon]="noiseIcon()"></fa-icon></button>
<button (click)="upvote()">{{ upvoteNumber$ | async }}</button>
</span>
