service cloud.firestore {
  match /databases/{database}/documents {
    match /phrases/{phrase} {
      allow get;
    }
    match /tick/tick {
      allow get;
      allow update: if request.resource.data.tick == request.time && request.time.toMillis() - resource.data.tick.toMillis() > 30000 && request.resource.data.size() == resource.data.size();
    }
    match /tick/currentPhrase {
      allow get;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}